BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 2
TabWidth: 2
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -2
NamespaceIndentation: None
FixNamespaceComments: false
